.top-bar{
  background-color: $nav-background;

  ul{
    background-color: $nav-background;
  }

  .menu-text{
    color: $nav-text-color;
  }

  .top-bar-right{
    .menu > li > a {
      padding: 0;
      display: inline;
    }
  }
}

.active-link{
  font-weight: 900 !important;
  color: green !important;
}
